/* .menu {
    background-color: #24292D;
    height: 70px;
    display: block;
}

.menu h3 {
    color: white;
    margin-bottom: 0;
}

.app-name {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    margin: 6px 6px 6px 1.5rem;
    float: left;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 1.5rem;
}

.menu ul {
    list-style-type: none;
    float: right;
}

.menu-item {
    display: inline-block;
    margin-top: 25px;
}

@media only screen and (max-width: 350px) {
    .app-name {
        margin: 6px 6px 6px 1rem;
    }
} */
