a {
    color: black;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
}

.fa-icon-overrides {
    color: #FFA500;
    font-size: 20px;
}

.blog-details {
    margin-right: 14px;
    color: #494949;
}

.blog-excerpt {
    color: #494949;
}
