a h3 {
    color: black;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
    font-size: 18px;
}

.fa-icon-overrides {
    color: #FFA500;
    font-size: 20px;
}

.blog-details {
    margin-right: 14px;
    color: #494949;
}

.blog-excerpt {
    color: #494949;
}

.profile-picture {
    border-radius: 50%;
    height: 250px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8px;
}

.profile-highlight {
    font-style: italic;
    text-align: center;
    margin-top: -15px;
}
